* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

.header {
    background-image: url(img/Rectangle\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
}

.header__main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 218px;
    padding-left: 120px;
}

.header__info {
    color: #FFF;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 740px;
}

.header__story {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    max-width: 480px;
    margin-top: 32px;

}

.header__button {
    border-radius: 30px;
    box-sizing: border-box;
    background: #9C0332;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 234.063px;
    height: 48.603px;
    margin-top: 44px;
}

.nav__main {
    background-image: url(img/Rectangle\ 5.jpg);
    height: 556px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    align-items: center;



}

.main__game-1 {
    border-radius: 16px;
    background-image: url(img/game1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 379px;
    height: 300px;
}

.main__game-2 {
    border-radius: 16px;
    background-image: url(img/game2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 379px;
    height: 300px;
}

.main__game-3 {
    border-radius: 16px;
    background-image: url(img/game3.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 379px;
    height: 300px;
}

.main__game-number {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 236px;
    margin-left: 32px;
    margin-bottom: 32px;


}
